#main-container {
    width: 50%;
    margin: 100px auto 200px auto;
}

#check {
    width: 30%;
    margin: 10px auto;
}

#order-placed {
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    margin-top: 25px;
}

#msg {
    text-align: center;
    color: rgba(0, 0, 0, 0.37);
}

@media (max-width: 480px) {
    #main-container {
        width: 90%;
    }

    #order-placed {
        font-size: 1.2em;
    }

    #msg {
        font-size: 0.8em;
    }
}